<!DOCTYPE html>
<html>
    <head>
        <title>Quad 2 Bidgood Project</title>
    </head>

    <body>
        {% block header %}
            <div style="text-align:center">
                <h1>Project Bidgood</h1>
            </div>
        {% endblock header %}
        {% block navbar %}
            <div style="text-align:left">
                <a href="{% url 'index' %}">Home</a>
                <a href="{% url 'viewAllDevices' %}">View All Devices</a>
            </div>
        {% endblock navbar %}
        {% block content %}
            
        {% endblock content %}
    </body>
</html>