<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
  <body>
    {% block content %}
        <div style="text-align:center">
            <h2>Computer List</h2>
        </div>
        <p style="padding: 20px;">
            <a href="{% url 'computer_create' %}">Add Computer</a>
        </p>
        {% if computer_list %}
        <ul>
            {% for computer in computer_list %}
                <li>
                    <a href="{{ computer.get_absolute_url }}"><b>Computer ID:</b> {{ computer.model_id }}</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>There are no computers in the inventory database.</p>
        {% endif %}
    {% endblock content %}
  </body>
</html>