<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
  <body>
    {% block content %}
        <div style="text-align:center">
            <h2><b>Computer ID:</b> {{ object.model_id }} </h2>
        </div>
        <a href="{{object.model_id}}/update/">Edit</a>
        <ul>
            <li><b>Serial Number:</b> {{ object.serial_number }}</li>
            <li><b>RAM:</b> {{ object.ram }}</li>
            <li><b>Hard Drive Size:</b> {{ object.hd_size }}</li>
            <li><b>Manufacturer:</b> {{ object.manuf.name }}</li>
            <li><b>Date Purchased:</b> {{ object.date_purchased }}</li>
            <li><b>Status:</b> {{ object.stage }}</li>
            {% if object.rack %}<li><b>Assigned Rack:</b> {{ object.rack }}</li>{% endif %}
            {% if object.dept %}<li><b>Assigned Department:</b> {{ object.dept }}</li>{% endif %}
            {% if object.room %}<li><b>Assigned Room:</b> {{ object.room }}</li>{% endif %}
            {% if object.person %}<li><b>Assigned Person:</b> {{ object.person }}</li>{% endif %}


        </ul>

        <a href="{{object.model_id}}/delete/">Delete?</a>
    {% endblock content %}
  </body>
</html>