{% extends "base.html" %}

    {% block content %}
        <div style="text-align:center">
            <h2>Add/Update Computer Form</h2>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <table>
            {{ form.as_table }}
            </table>
            <input type="submit" value="Submit">
        </form>
    {% endblock %}