<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
  <body>
    {% block content %}
        <p>
            This is the home page of Quad Two's Bidgood Project. Within this app you will be able to add, edit, delete, and view all devices within Westmont's IT Department.
        </p>  
    {% endblock content %}
  </body>
</html>