<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
  <body>
    {% block content %}
        <div style="text-align:center">
            <h2>Monitor List</h2>
        </div>
        <p style="padding: 20px;">
            <a href="{% url 'monitor_create' %}">Add Monitor</a>
        </p> 
        {% if monitor_list %}
        <ul>
            {% for monitor in monitor_list %}
                <li>
                    <a href="{{ monitor.get_absolute_url }}"><b>Monitor ID:</b> {{ monitor.model_id }}</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>There are no monitors in the inventory database.</p>
        {% endif %}
    {% endblock content %}
  </body>
</html>