{% extends "base.html" %}

{% block content %}

    <div style="text-align:center">
        <h2>Delete Monitor</h2>
    </div>

<p>Please confirm that you would like to delete the following monitor: <b>ID: </b> {{ object.model_id }}</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" value="Confirm">
</form>

{% endblock %}