<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
  <body>
    {% block content %}
        <div style="text-align:center">
            <h2>Printer List</h2>
        </div> 
        <p style="padding: 20px;">
             <a href="{% url 'printer_create' %}">Add Printer</a>
        </p>
        {% if printer_list %}
        <ul>
            {% for printer in printer_list %}
                <li>
                    <a href="{{ printer.get_absolute_url }}"><b>Printer ID:</b> {{ printer.model_id }}</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>There are no printer in the inventory database.</p>
        {% endif %}
    {% endblock content %}
  </body>
</html>