<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
  <body>
    {% block header %}
        <div style="text-align:center">
            <h1>Project Bidgood</h1>
        </div>
    {% endblock header %}
    
    {% block content %}
        <div style="text-align:center">
            <h2>Devices</h2>
        </div>
        <ul>
            <a href="{% url 'computer_model_list' %}"><li>Computers</li></a>
            <a href="{% url 'monitor_model_list' %}"><li>Monitors</li></a>
            <a href="{% url 'printer_model_list' %}"><li>Printers</li></a>
          </ul>
    {% endblock content %}
  </body>
</html>